#
# Build ignores
#
.*
*.o
*.o.*
*.a
.config
.config.old

#
# Never ignore these
#
!.gitignore

#
# Normal output and testing dirs
#
ar/ar.h
ar/ar86
ar/rel_aout.h
as/as86
as/as86_encap
as/version.h
bcc/bcc
bcc/bcc-cc1
bcc/ncc
bcc/version.h
bin/
bootblocks/bb_init1.bin
bootblocks/bb_init1.lst
bootblocks/bb_init1.sym
bootblocks/bb_init2.bin
bootblocks/bb_init2.lst
bootblocks/bb_init2.sym
bootblocks/bb_linux.bin
bootblocks/bb_linux.lst
bootblocks/bb_linux.sym
bootblocks/boot_fpy.bin
bootblocks/boot_fpy.lst
bootblocks/boot_fpy.sym
bootblocks/killhd.bin
bootblocks/killhd.lst
bootblocks/killhd.sym
bootblocks/killhd.v
bootblocks/lsys.com
bootblocks/makeboot
bootblocks/makeboot.com
bootblocks/mbr.bin
bootblocks/mbr.lst
bootblocks/mbr.sym
bootblocks/mbr.v
bootblocks/mbr_chs.bin
bootblocks/mbr_chs.lst
bootblocks/mbr_chs.s
bootblocks/mbr_chs.sym
bootblocks/mbr_chs.v
bootblocks/mbr_dm.bin
bootblocks/mbr_dm.lst
bootblocks/mbr_dm.sym
bootblocks/mbr_dm.v
bootblocks/mbr_lba.bin
bootblocks/mbr_lba.lst
bootblocks/mbr_lba.s
bootblocks/mbr_lba.sym
bootblocks/mbr_lba.v
bootblocks/mbr_lin.bin
bootblocks/mbr_lin.lst
bootblocks/mbr_lin.s
bootblocks/mbr_lin.sym
bootblocks/mbr_lin.v
bootblocks/minix.bin
bootblocks/minix.lst
bootblocks/minix.s
bootblocks/minix.sym
bootblocks/minix.v
bootblocks/minix_elks.bin
bootblocks/minix_elks.lst
bootblocks/minix_elks.s
bootblocks/minix_elks.sym
bootblocks/minixhd.bin
bootblocks/minixhd.lst
bootblocks/minixhd.s
bootblocks/minixhd.sym
bootblocks/minixhd.v
bootblocks/monitor.sym
bootblocks/monitor.sys
bootblocks/msdos.bin
bootblocks/msdos.lst
bootblocks/msdos.sym
bootblocks/msdos.v
bootblocks/msdos16.bin
bootblocks/msdos16.lst
bootblocks/msdos16.s
bootblocks/msdos16.sym
bootblocks/msdos16.v
bootblocks/noboot.bin
bootblocks/noboot.lst
bootblocks/noboot.sym
bootblocks/noboot.v
bootblocks/nombr.bin
bootblocks/nombr.lst
bootblocks/nombr.sym
bootblocks/nombr.v
bootblocks/pbr.bin
bootblocks/pbr.lst
bootblocks/pbr.s
bootblocks/pbr.sym
bootblocks/pbr.v
bootblocks/skip.bin
bootblocks/skip.lst
bootblocks/skip.sym
bootblocks/skip.v
bootblocks/sysboot.lst
bootblocks/sysboot.v
bootblocks/sysboot16.lst
bootblocks/sysboot16.v
bootblocks/tarboot.bin
bootblocks/tarboot.lst
bootblocks/tarboot.sym
bootblocks/tarboot.v
bootblocks/version.h
bootblocks/zimage.lst
bootblocks/zimage.v
copt/copt
cpp/bcc-cpp
ifdefg
include
ld/ar.h
ld/ld86
ld/objdump86
ld/version.h
lib/
libc/error/error_list.h
libc/i386sys/syscall.c
libc/i386sys/syscall.mak
libc/include/arch
libc/include/linuxmt
libc/include/malloc.h
libc/include/regexp.h
libc/include/regmagic.h
libc/include/stdio.h
libc/include/string.h
libc/syscall/call_tab.v
libc/syscall/defn_tab.v
libc/syscall/syscall.c
libc/syscall/syscall.dat
libc/syscall/syscall.mak
make.fil
unproto/unproto

#
# Backups / patches
#
*~
*.orig
*.rej
/*.patch

#
# debugging stuff
#
core
.gdb_history
.gdbinit

