Source: elks
Section: devel
Priority: optional
Maintainer: Christoph Lameter <clameter@waterf.org>
Standards-Version: 2.1.0.0

Package: elks
Architecture: any
Depends: ${shlibs:Depends}
Description: Development environment for 8086 Software development
 ELKS-86 = Embedded Linux Kernel Environemtn for 8086. The project
 attempts to provide a running Linux system for 8086 CPUs.
 .
 It contains a working assember, linker and C-compiler for 8086 cpus
 which is important for the development of boot loaders or BIOS related
 code. C-Library and example code are also provided.
 .
 ELKS-86 contains an upgraded version of as86 which is used to compile the
 linux kernel.
 .
 ELKS-86 can also be build on an MS-DOS system. This module will install the
 complete source code for ELKS-86 in addition to the binaries! You need the
 stuff to work with!
